
<%- include("header.ejs") %>
<div class="about">
    <h2>About the Program</h2>
    <ol class="about-app">
        <li><strong>Author: </strong>Mariel Yeng</li>
        <li><strong>Purpose: </strong>This is a capstone project from a udemy course I am taking. To apply everything I've learned, I created this application from scratch.</li>
        <li><strong>Tech used: </strong>HTML, CSS, JavaScript, EJS, NPM</li>
        <li><strong>Other comments:</strong>This is a work in progress. Currently, Edit functionality is not working</li>
    </ol>
</div>

<%- include("footer.ejs") %>