* {
  box-sizing: border-box;
}

input[type=text], textarea, select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-weight: bold;
}

input[type=submit], input[type=reset], #edit, #delete, #submit, #cancel {
  width: 100px;
  font-weight: bold;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=reset] {
  background-color: #8B0000;
  margin: 0px 8px;
}

input[type=submit] {
  background-color: #04AA6D;
  margin: 0% 0% 0% 15%;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #E1EBEE;
  padding: 20px;
  margin-top: 16px;
  margin-bottom: 100px;
}

.intro {
  max-width: 100%;
  text-align: center;
}

.col-25 {
  float: left;
  width: 15%;
  margin-top: 6px;
  text-align: end;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit], input[type=reset] {
    width: 100%;
    margin: 2px 0px;
    text-align: left;
  }
}

/** Collection Styles **/
.collections {
  display: grid;
  grid-template-columns: 30% 50%;
  justify-content: space-evenly;
  margin-bottom: 100px;
  width: 100%;
  padding: 10px;
}

#details {
  padding: 22px;
  border-radius: 16px;
}

#blog {
  border: none;
  background-color: transparent;
  font-size: 22px;
}

#blog:hover {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

#edit, #submit {
  color: white;
  background-color: #04AA6D;
  margin: 8px 2px;
}

#delete, #cancel {
  color: white;
  background-color: #8B0000;
  margin: 8px 2px;
}

li {
  list-style-type: circle;
}

.back {
  font-size: 22px;
  margin: 16px 16px;
}

.no-data, .about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-data a {
  font-size: 24px;
}

.about {
  padding: 16px;
}

